body{
    background-color:  #f8a4a1;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url(images/Pleasure\ in\ the\ job\,\ put\ perfection\ in\ the\ work\(1\).png);
    background-repeat: no-repeat;
}
ul li.pf{
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
.nav{
    background-color: #322514;
}
.nav ul{
    overflow: auto;

}
.nav li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    border-radius: 4px;
}
.nav li a{
    padding: 3px 3px;
    text-decoration: none;
    color: aliceblue;
}
div.home-content{
    margin: 350px;
    text-align: center;
    font-size: 30px;
    margin-left: 40%;
}
div.home-content .txt1{
    font-weight: bolder;
}
div.home-content .txt2{
    font-weight: 550;
    font-family: monospace;
    margin-left: -9%;
}
div.home-content .txt3{
    font-family: fantasy;
}
div.home-content .txt4{
    font-weight: bold;
    text-decoration: underline;
}